@model IList<DataLayer.Models.Review>

@{
    foreach (var review in Model)
    {
        <div class="card d-inline-block" style="width: 18em; height: 10em; border-radius: .5em; overflow: hidden">
            <div class="card-header d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center gap-1">
                    <img src="~/Content/images/user-circle.png" style="height: 2em; width: 2em;" />
                    <h5 class="m-0">@review.UserName</h5>
                </div>
                <div class="d-flex">
                    <label style="margin-right: .3em; font-weight: bold">@review.Stars</label>
                    <img src="~/Content/images/star.png" style="height: 1.7em; width: 1.7em" />
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">@(string.IsNullOrEmpty(review.Details) ? "The user has not provided any details." : review.Details)</p>
            </div>
        </div>
    }
}