@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <div class="row row-cols-3" id="apartment-grid">
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#spinner").show();
            $("#spinner-placeholder").css("z-index", 10);
            loadAllApartments();
        });

        function loadAllApartments() {
            $.ajax({
                url: "@Url.Action("GetAllApartments", "Apartment")",
                success: function (partialView) {
                    $("#apartment-grid").html("");
                    $("#apartment-grid").append(partialView);
                    $("#spinner").hide();
                    $("#spinner-placeholder").css("z-index", -10);
                }
            });
        }
    </script>
}